<div class="row justify-content-center">
  <%= render 'form', project: @project, form_type: "Edit Project" %>
</div>

<%= link_to 'Show', user_project_path(current_user, @project) %> |
<%= link_to '< Back', user_projects_path(current_user), class: "nav-btn btn btn-primary col-3 col-md-2 col-lg-1 offset-md-3 offset-lg-4" %>
