<h1>Projects</h1>

<%= render 'projects', projects: @projects %>

<% if policy(Project).create? %>
  <%= link_to 'New Project', new_user_project_path(current_user) %>
<% end %>
<%= link_to 'Dashboard', users_path %>
