<h1>New Bug</h1>

<<<<<<< HEAD
<%= render 'form', bug: @bug, project: @project %>

<%= link_to 'Back', project_bugs_path(@project) %>
=======
<%= render 'form', bug: @bug %>

<%= link_to 'Back', bugs_path %>
>>>>>>> fe1665d (Bugs::Generate Bugs Scaffolding)
